.contents
  .left
    .left__name
      - if user_signed_in?
        = link_to "#{current_user.name}",user_path(current_user.id)
  .main
    = render @illustrations
  .ranking
    = fa_icon("star spin")
    .ranking__top

